<div class="page d-flex">
    <div>
        <app-sidebar></app-sidebar>
    </div>
    <div class="section w-100 overflow-y-scroll">
        <div class="d-flex justify-content-between px-3 pt-3 ">
            <div class="col-3">
                <h2 class="fw-bold">Dashboard</h2>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <input type="text" class="search-input me-2 ps-3" placeholder="search">
                <button class="btn-dark-blue text-white px-2 fs-3 me-1"><i class="bi bi-filter"></i></button>
                <button class="bg-white notif px-2 fs-4 border-0"><i class="bi bi-bell"></i></button>
            </div>
        </div>
        <div class="px-3 mt-4">
            <div class="d-flex flex-row justify-content-between custom-w">
                <div class="box-1 justify-content-center d-flex flex-column">
                    <span class="mb-2 ml">Receivable</span>
                    <div class="justify-content-around d-flex align-items-center">
                        <div><span class="fs-3">7,265</span></div>
                        <div><span>+11.02% <i class="bi bi-bar-chart-line"></i></span></div>
                    </div>
                </div>
                <div class="box-2 justify-content-center d-flex flex-column">
                    <span class="mb-2 ml">Credit Item</span>
                    <div class="justify-content-around d-flex align-items-center">
                        <div><span class="fs-3">7,265</span></div>
                        <div><span>+11.02% <i class="bi bi-bar-chart-line"></i></span></div>
                    </div>
                </div>
                <div class="box-1 justify-content-center d-flex flex-column">
                    <span class="mb-2 ml">Stock Alert</span>
                    <div class="justify-content-around d-flex align-items-center">
                        <div><span class="fs-3">7,265</span></div>
                        <div><span>+11.02% <i class="bi bi-bar-chart-line"></i></span></div>
                    </div>
                </div>
                <div class="box-2 justify-content-center d-flex flex-column">
                    <span class="mb-2 ml">Pending Weaving</span>
                    <div class="justify-content-around d-flex align-items-center">
                        <div><span class="fs-3">7,265</span></div>
                        <div><span>+11.02% <i class="bi bi-bar-chart-line"></i></span></div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between custom-w mt-4">
                <div class="notif-box shadow">
                    <div class="fw-bold p-4">
                        Notifications
                    </div>
                </div>
                <!-- stock part -->
                <!-- <div class="stock-box d-flex flex-column align-items-center justify-content-between">
                    <div class="d-flex flex-row w-100 justify-content-between">
                        <div class="shadow d-flex flex-column">
                            <div class="justify-content-between align-items-center d-flex p-4 text-muted">
                                <i class="bi bi-inboxes-fill"></i>
                                <span class="fw-bold">Sales</span>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="d-flex flex-column text-muted px-4">
                                    <p>30K</p>
                                    <p>20K</p>
                                    <p>10K</p>
                                    <p>0</p>
                                </div>
                                <div class="d-flex flex-column">
                                    <div class="d-flex flex-row">
                                    </div>
                                    <div class="d-flex flex-row ">
                                        <p class="me-3">Linux</p>
                                        <p class="me-3">Mac</p>
                                        <p class="me-3">Ios</p>
                                        <p class="me-3">Windows</p>
                                        <p class="me-3">Android</p>
                                        <p class="me-3">Other</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="d-flex flex-row w-100 justify-content-between">
                        <div class="bg-white shadow d-flex flex-row">
                            <div class="p-3 justify-content-end d-flex">
                                <p class="fw-bold text-muted">Upcomin DeadLine</p>
                            </div>
                        </div>
                        <div class="bg-white shadow d-flex flex-row">

                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>