<!-- side bar -->
<div class="sidebar shadow">
    <div class="top-side">
        <div class="sidebar-logo">
            <div id="logo">
                <a href="#"><img src="../../../../assets/sidebar-images/logo.png" alt="logo"></a>
            </div>
        </div>
        <div class="main">
            <div id="head-text" class="text-uppercase">
                <a href="#">main</a>
            </div>
            <div id="des-text" class="mt-2">
                <div class="topics d-flex">
                    <div class="img"><img src="../../../../assets/sidebar-images/Icon/01.png" alt=""></div>
                    <div class="text">
                        <p>warehouse</p>
                    </div>
                    <!-- <div class="img"><img src="../../../../assets/sidebar-images/Icon/Arrow.png" alt=""></div> -->
                </div>
                <div class="topics d-flex">
                    <div class="img"><img src="../../../../assets/sidebar-images/Icon/01.png" alt=""></div>
                    <div class="text">
                        <p>Documents</p>
                    </div>
                    <!-- <div class="img-arrow"><img src="../../../../assets/sidebar-images/Icon/arrownodown.png" alt=""></div> -->
                </div>
                <div class="topics d-flex">
                    <div class="img"><img src="../../../../assets/sidebar-images/Icon/01.png" alt="">
                    </div>
                    <div class="text">
                        <p>Production</p>
                    </div>
                    <!-- <div class="img-arrow"><img src="../../../../assets/sidebar-images/Icon/arrownodown.png" alt=""></div> -->
                </div>
                <div class="topics d-flex">
                    <div class="img"><img src="../../../../assets/sidebar-images/Icon/01.png" alt="">
                    </div>
                    <div class="text">
                        <p>Report</p>
                    </div>
                    <!-- <div class="img-arrow"><img src="../../../../assets/sidebar-images/Icon/arrownodown.png" alt=""></div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="lower-side">
        <div class="low">
            <div class="setting-text text-uppercase">
                <a href="#">setting</a>
            </div>
            <div class="topics d-flex mt-4">
                <div class="img"><img src="../../../../assets/sidebar-images/Icon/bookmarks-outline.png" alt=""></div>
                <div class="low-side-text">
                    <p>Users</p>
                </div>
                <!-- <div class="img"><img src="../../../../assets/sidebar-images/Icon/arrownodown.png" alt=""></div> -->
            </div>
            <a href="#"> <div class="add-doc">
                <img src="../../../../assets/sidebar-images/Icon/Frame 1039.png" alt="">
                <span class="fw-semi-bold">Add Doc</span>
            </div></a>
        </div>
    </div>
</div>