<!-- side bar -->
<div class="sidebar shadow">
    <div class="top-side">
        <div class="sidebar-logo">
            <div id="logo">
                <a href="#"><img src="../../../../assets/sidebar-images/logo.png" alt="logo"></a>
            </div>
        </div>
        <div class="main">
            <div id="head-text" class="text-uppercase">
                <a routerLink="/dashboard">main</a>
            </div>
            <div id="des-text" class="mt-2">


                
                <a routerLink="/warehouse" class="topics d-flex my-2">
                    <div class="img"><img src="../../../../assets/sidebar-images/Icon/01.png" alt=""></div>
                    <div class="text">
                        <p>Warehouse</p>
                    </div>
                    <!-- <div class="img"><img src="../../../../assets/sidebar-images/Icon/Arrow.png" alt=""></div> -->
                </a>





                <a routerLink="/document" class="topics d-flex my-2">
                    <div class="img"><img src="../../../../assets/sidebar-images/Icon/01.png" alt=""></div>
                    <div class="text">
                        <p>Documents</p>
                    </div>
                    <!-- <div class="img-arrow"><img src="../../../../assets/sidebar-images/Icon/arrownodown.png" alt=""></div> -->
                </a>



                <a routerLink="/products" class="topics d-flex my-2">
                    <div class="img"><img src="../../../../assets/sidebar-images/Icon/01.png" alt="">
                    </div>
                    <div class="text">
                        <p>Production</p>
                    </div>
                    <!-- <div class="img-arrow"><img src="../../../../assets/sidebar-images/Icon/arrownodown.png" alt=""></div> -->
                </a>


                

                <a routerLink="/city" class="topics d-flex my-2">
                    <div class="img"><img src="../../../../assets/sidebar-images/Icon/01.png" alt="">
                    </div>
                    <div class="text">
                        <p>City</p>
                    </div>
                    <!-- <div class="img-arrow"><img src="../../../../assets/sidebar-images/Icon/arrownodown.png" alt=""></div> -->
                </a>




                <a routerLink="/shelf" class="topics d-flex my-2">
                    <div class="img"><img src="../../../../assets/sidebar-images/Icon/01.png" alt="">
                    </div>
                    <div class="text">
                        <p>Shelf</p>
                    </div>
                    <!-- <div class="img-arrow"><img src="../../../../assets/sidebar-images/Icon/arrownodown.png" alt=""></div> -->
                </a>
            </div>
        </div>
    </div>
    <div class="lower-side">
        <div class="low">
            <div class="setting-text text-uppercase">
                <a href="#">setting</a>
            </div>
            <div class="topics d-flex mt-4">
                <div class="img"><img src="../../../../assets/sidebar-images/Icon/bookmarks-outline.png" alt=""></div>
                <div class="low-side-text">
                    <p>Users</p>
                </div>
                <!-- <div class="img"><img src="../../../../assets/sidebar-images/Icon/arrownodown.png" alt=""></div> -->
            </div>
            <button (click)="toggleVisibility()" type="submit" class="add-doc mt-3"><i class="bi bi-plus-lg text-white"></i><span class="fs-6">Add Doc</span></button>
        </div>
    </div>
</div>
<app-purchase class="position-fixed top-0 w-100" *ngIf="isclosed"></app-purchase>