<div class="black-screen d-flex justify-content-center align-items-center">
    <form class="pop-up col-5 bg-white p-4 shadow">
        <div class="form-title p-2 d-flex justify-content-between align-items-center">
            <span>Purchase Order</span>
          <button class="border-0 btn"><i class="bi bi-x text-danger"></i></button>  
        </div>
        <div class="form-row d-flex justify-content-center px-2 my-2">
            <div class="form-group col-md-6 m-2">
                <label>Product Name</label>
                <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group col-md-6 m-2">
                <label>Supplie</label>
                <input type="text" class="form-control" placeholder="Supplier Name">
            </div>
        </div>
        <div class="form-row d-flex justify-content-center px-2 my-2">
            <div class="form-group col-md-6 m-2">
                <label>Category</label>
                <input type="text" class="form-control" placeholder="Category">
            </div>
            <div class="form-group col-md-6 m-2">
                <label>Sub Category</label>
                <input type="text" class="form-control" placeholder="Sub Category">
            </div>
        </div>
        <div class="form-row d-flex justify-content-center px-2 my-2">
            <div class="form-group col-md-4 m-2">
                <label>Bill No.</label>
                <input type="text" class="form-control" placeholder="Enter Bill No.">
            </div>
            <div class="form-group col-md-4 m-2">
                <label>Colour</label>
                <input type="text" class="form-control" placeholder="Enter Colour">
            </div>
            <div class="form-group col-md-4 m-2">
                <label>Date</label>
                <input type="text" class="form-control" placeholder="Enter Date">
            </div>
        </div>
        <div class="form-row d-flex justify-content-center px-2 my-2">
            <div class="form-group col-md-4 m-2">
                <label>Net Weight(KG)</label>
                <input type="text" class="form-control" placeholder="Enter Weight">
            </div>
            <div class="form-group col-md-4 m-2">
                <label>Rates</label>
                <input type="text" class="form-control" placeholder="Enter Rates">
            </div>
            <div class="form-group col-md-4 m-2">
                <label>Amount</label>
                <input type="text" class="form-control" placeholder="Enter Amount">
            </div>
        </div>
        <div class="form-row d-flex justify-content-center px-2 my-2">
            <div class="form-group col-md-12 m-2">
                <label>Remarks</label>
                <input type="text" class="form-control" placeholder="Enter Remarks">
            </div>
        </div>
        <button type="submit" class="btn btn-primary m-0 btn-dark-blue">Add <i class="bi bi-plus-lg text-white"></i></button>
    </form>
</div>
