<div class="col-md-12 d-flex ">

    <div class="left-side col-md-8 d-flex align-items-center justify-content-center">
        <div class="title w-75">
            <h1 class="fw-bold text-white">Warehouse</h1>
            <p class="fs-5 text-white">The most popular Warehouse System is here.</p>
            <button class="btn-dark-blue text-white px-3 py-2 fs-6">Know More</button>
        </div>
    </div>
    <div class="right-side col-md-4 ps-5 d-flex align-items-center">
        <form action="" class="col-md-7 d-flex flex-column">
            <h2 class="fw-bold">Hello!</h2>
            <p>Sign in to Get Started</p>
            <input type="text" class="form-input ps-4" placeholder="Username">
            <input type="text" class="form-input ps-4" placeholder="Password">
            <button class="btn-dark-blue text-white py-3">Login</button>
            <p class="text-center text-muted mt-2">remember</p>
        </form>
    </div>
</div>