<div class="black-screen d-flex justify-content-center align-items-center">
    <form class="pop-up col-5 bg-white p-4">
        <div class="form-title p-2 d-flex justify-content-between align-items-center">
            <span>Add products</span>
            <i class="bi bi-x text-danger"></i>
        </div>
        <div class="form-row d-flex justify-content-center px-2">
            <div class="form-group col-md-6 m-2">
                <label>Product Name</label>
                <input type="text" class="form-control" placeholder="Name">
            </div>
            <div class="form-group col-md-6 m-2">
                <label>Dimensions</label>
                <input type="text" class="form-control" placeholder="Dimensions">
            </div>
        </div>
        <button type="submit" class="btn btn-primary m-0 btn-dark-blue">Add <i class="bi bi-plus-lg text-white"></i></button>
    </form>
</div>